.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1rem;
  padding: 0 0.25rem;
  margin: 0 0.4rem;
}

.time-traverse-values {
  text-align: center;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: rgb(87, 87, 87);
}

.arrows-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.number-output {
  font-size: 1.25rem;
  font-weight: 500;
  color: #212529;
  line-height: 2rem;
}
