.month-controls-container {
  min-height: 22rem;
  padding: 1.15rem 1rem;
  border-radius: 0.5rem;
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1rem 0.25rem;
  cursor: pointer;
  width: 15rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 62em) {
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .month-controls-container {
    margin: 0.5rem 0.5rem 0 0.5rem;
  }
}

.button-output {
  border: 0.1rem solid rgba(217, 228, 234, 1);
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(77, 77, 77, 0.8);
  padding: 0.5rem 0;
  text-align: center;
  margin-top: 1.5rem;
}

.warning-message {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.25rem;
  height: 1.5rem;
}

.header {
  font-size: 1.5rem;
  font-weight: 450;
  color: rgba(77, 77, 77, 0.8);
  text-align: center;
}

@media (max-width: 48em) {
  .modal-wrapper {
    border-radius: 0;
    width: 100%;
  }
}
