.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.header {
  font-size: 5rem;
  line-height: 4.25rem;
  color: rgba(77, 77, 77, 0.8);
}

h3.sub-header {
  font-size: 2.5rem;
  color: rgba(77, 77, 77, 0.5);
}
